
.cursosTrilha{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 2vh;
}
.headerTrilhaDiv{
    display: flex;
    height: 25vh;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: auto;
    h2{
      position: relative;
      font-size: 2vw;
    }
    h2::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -5%;
      transform: translateY(-50%);
    }
    h2:nth-child(odd)::before {
      background-color: #006496; /* Cor do círculo */
      border: 2px solid #006496; /* Borda preta */
    }
    h2:nth-child(even)::before {
      background-color: #9A1915; /* Cor do círculo */
      border: 2px solid #9A1915; /* Borda preta */
    }
}
.textHeader{
    background-color: #2C4957;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    color: white;
    border-radius: 0 5vh 5vh 0;
    padding: 2vh;
    *{
      margin: 1vh;
    }
}
.legendaCursosTrilha{
    text-align: right;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.containerCursosTrilha {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    text-align: center;
    width: 85%;
}
.contPrimeiro{
    margin: 16px;
}
.etapaContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-top: none;
    border-bottom: none;
}
.block{
    max-width: 60%;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 5vh auto 5vh auto;
    position: relative;
}
.block + .block::before {
    content: "↓";
    font-size: 3vh;
    color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -200%);
}