{% extends 'base.html' %}

{% block title %} Cursos da Trilha {% endblock %}

{% load static %}
    
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/teste.css' %}">
    <div id="cursosTrilha" class="cursosTrilha">
        <div class="headerTrilhaDiv">
            <div class="textHeader">
                <h1>Nome da Trilha</h1>
                <h4>Resumo da Trilha</h4>
            </div>
            <div class="legendaCursosTrilha">
                <h2>Cursos</h2>
                <h2>Trilhas</h2>
            </div>
        </div>
        <div class="containerCursosTrilha">
            {% for etapa in etapas_lista %}
                <div class="etapaContainer">
                    <h2>Caminho {{ etapa.numero }}</h2>
                    {% for item in etapa.itens %}
                        <div class="block">
                            {% if item.tipo == "curso" %}
                                <p><strong>Curso:</strong> {{ item.nome_curso }}</p>
                                <p>Descrição: {{ item.descricao_curso }}</p>
                                <p>Horas: {{ item.horas_curso }}</p>
                            {% elif item.tipo == "trilha" %}
                                <p><strong>Trilha:</strong> {{ item.nome_trilha }}</p>
                                <p>Carga Horária: {{ item.cargaMinTri }} - {{ item.cargaMaxTri }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
