{% extends 'base.html' %}

{% block title %} Cursos da Trilha {% endblock %}

{% load static %}
    
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/teste.css' %}">
    <div id="cursosTrilha" class="cursosTrilha">
        <div class="headerTrilhaDiv">
            <div class="textHeader">
                <h1>{{ nome_trilha }}</h1>
                <h4>{{ descricao_trilha }}</h4>
            </div>
            <div class="legendaCursosTrilha">
                <h2>Cursos</h2>
                <h2>Trilhas</h2>
            </div>
        </div>
        <div class="containerCursosTrilha">
            {% for etapa in etapas_lista %}
                <div class="etapaContainer">
                    <h2>Caminho {{ etapa.numero }}</h2>
                    {% for item in etapa.itens %}
                        <div class="block">
                            {% if item.tipo == "curso" %}
                                <style>
                                    .contSegundo{
                                        width: 120%;
                                        height: 120%;
                                        background-size: 100%;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        display: none;
                                    }
                                </style>
                                <div class="contPrimeiro">
                                    <p><strong>Curso:</strong> {{ item.nome_curso }}</p>
                                    <p><strong>Descrição:</strong> {{ item.descricao_curso }}</p>
                                    <p><strong>Horas:</strong> {{ item.horas_curso }}</p>
                                </div>
                                <div class="contSegundo" style="background-image: url({% static 'assets/cursos' %}{{ item.imagem_curso }})">
                                    <h1 class="nomeCurso">{{ item.nome_curso }}</h1>
                                    <div class="sobreMaisCurso">Ver mais sobre o curso</div>
                                </div>
                            {% elif item.tipo == "trilha" %}
                                <p><strong>Trilha:</strong> {{ item.nome_trilha }}</p>
                                <p><strong>Carga Horária:</strong> {{ item.cargaMinTri }} - {{ item.cargaMaxTri }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
