{% extends 'base.html' %}

{% block title %}Cursos{% endblock %}

{% load static  %}

{% block content %}
        <div id="formulario" class="formulario">
            <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="seta" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>

            {% if mensagem_erro == 'True' %}
                <div id="popupErro" class="erroEnvioForm">
                    <div class="textoErro">
                        <div class="svgErro">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                            </svg>
                        </div>
                        <h4>Preencha os campos corretamente.</h4>
                    </div>
                    <div class="fecharDivErro">
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </div>
                    <div class="loadingBar" id="loadingBar"></div>
                </div>
            {% endif %}
            <div class="formContainer">
                <div class="right">
                    <img class="imgForm" src="{% static 'img/form.png' %}">
                </div>
                <div class="left">


                   <form method="post" action="{% url 'formulario' %}" >
                    {% csrf_token %}
                    <input placeholder="Nome" name="nomeForm" id="letras" class="input" type="text" required>
                    <input placeholder="Email" name="emailForm" id="email" class="input" type="email" required>
                     <input placeholder="Telefone" name="telefoneForm" id="telefone" class="input" type="tel" required>
                   <script>
                           document.addEventListener("DOMContentLoaded", function () {
                               const cursoSelector = document.getElementById('curso');
                               const outroCursoInput = document.getElementById('at');

                               cursoSelector.addEventListener('change', function () {
                                   if (cursoSelector.value === 'outros') {
                                       outroCursoInput.style.display = 'block';
                                       outroCursoInput.setAttribute('required', 'true');
                                   } else {
                                       outroCursoInput.style.display = 'none';
                                       outroCursoInput.removeAttribute('required');
                                       outroCursoInput.value = '';
                                   }
                               });
                           });
                       </script>
                       <select id="curso" name="nomeCurso"  required>
                           <option value="">Escolha um curso:</option>
                           {% for curso in cursos %}
                               <option value="{{ curso.nome_curso }}">{{ curso.nome_curso }}</option>
                           {% endfor %}
                           <option value="outros">Outros</option>
                       </select>

                       <input style="display:none" class="input" id="at" placeholder="Digite o nome do curso que se interessou:" name="outroInput">

                   <div class="politica">
                       <label class="checkbox-container">
                            <input id="checkboxTermos" class="checkbox" type="checkbox" required>
                            <span class="custom-checkbox"></span><pre>Aceito os termos e condições <a type="button" class="termos_colorido" onclick="popupForm('popUpTermos')">Ver</a></pre>
                        </label>
                   </div>

                   <div class="popUpTermos" id="popUpTermos">
                        <a href="{% url 'formulario' %}">x</a>
                        <div class="privacidade">
                            <div class="caixa_termos">
                            <h1>Política de Privacidade</h1>
    
                            <p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos, armazenamos e divulgamos suas informações pessoais ao acessar e usar nosso site [nome do site].</p>
    
                            <h2>1. Informações que Coletamos</h2>
                            <p>Coletamos diferentes tipos de informações em várias situações:</p>
                            <ul>
                                <li><strong>Informações Pessoais:</strong> Coletamos informações que você nos fornece diretamente, como seu nome, e-mail, número de telefone e outras informações de contato ao criar uma conta, preencher formulários ou entrar em contato conosco.</li>
                                <li><strong>Informações Automáticas:</strong> Ao visitar nosso site, coletamos automaticamente informações sobre seu dispositivo e comportamento de navegação, incluindo:
                                    <ul>
                                        <li>Endereço IP</li>
                                        <li>Tipo de navegador</li>
                                        <li>Sistema operacional</li>
                                        <li>Páginas visitadas</li>
                                        <li>Tempo gasto em cada página</li>
                                        <li>Referência de site</li>
                                    </ul>
                                </li>
                                <li><strong>Cookies e Tecnologias Semelhantes:</strong> Utilizamos cookies e tecnologias de rastreamento para melhorar sua experiência no site.</li>
                            </ul>
    
                            <h2>2. Como Usamos suas Informações</h2>
                            <p>As informações coletadas podem ser usadas para os seguintes fins:</p>
                            <ul>
                                <li><strong>Fornecer Serviços:</strong> Para processar suas solicitações e responder a consultas.</li>
                                <li><strong>Melhorar nosso Site:</strong> Para entender como os usuários interagem com nosso site.</li>
                                <li><strong>Comunicações:</strong> Para enviar e-mails informativos e newsletters.</li>
                                <li><strong>Marketing:</strong> Para enviar materiais promocionais relevantes.</li>
                            </ul>
    
                            <h2>3. Compartilhamento de Informações</h2>
                            <p>Não vendemos, trocamos ou alugamos suas informações pessoais a terceiros. No entanto, podemos compartilhar suas informações com:</p>
                            <ul>
                                <li><strong>Público:</strong> Terceiros que nos auxiliam na operação do nosso site.</li>
                                <li><strong>Requisitos Legais:</strong> Para cumprir a lei, regulamentações e solicitações governamentais.</li>
                            </ul>
    
                            <h2>4. Segurança das Informações</h2>
                            <p>Implementamos medidas de segurança adequadas para proteger suas informações pessoais. No entanto, nenhuma transmissão de dados pela Internet ou método de armazenamento eletrônico é 100% seguro.</p>
                            <h2>5. Seus Direitos</h2>
                            <p>Você tem o direito de:</p>
                            <ul>
                                <li><strong>Acessar:</strong> Solicitar uma cópia das suas informações pessoais.</li>
                                <li><strong>Corrigir:</strong> Pedir a correção de informações pessoais imprecisas.</li>
                                <li><strong>Excluir:</strong> Solicitar a exclusão de suas informações pessoais.</li>
                                <li><strong>Opor-se:</strong> Opor-se ao processamento de suas informações pessoais para fins de marketing.</li>
                            </ul>
    
                            <h2>6. Cookies e Tecnologias de Rastreio</h2>
                            <p>Utilizamos cookies e tecnologias semelhantes para rastrear a atividade em nosso site e armazenar certas informações. Você pode gerenciar suas preferências de cookies através das configurações do seu navegador.</p>
    
                            <h2>7. Links para Sites de Terceiros</h2>
                            <p>Nosso site pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade desses sites.</p>
    
                            <h2>8. Alterações nesta Política</h2>
                            <p>Podemos atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página.</p>
    
                            <h2>9. Contato</h2>
                            <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade, entre em contato conosco:</p>
                            <ul>
                                <li><strong>E-mail:</strong> saojosedoriopreto@sp.senai.br</li>
                                <li><strong>Telefone:</strong>(11) 3322-0050</li>
                                <li><strong>Endereço:</strong>R. Antônio de Godoy, 5405 - Vila Sao Jose, São José do Rio Preto - SP, 15090-250</li>
                            </ul>
    
                            <p>Agradecemos por confiar em nós com suas informações pessoais e estamos comprometidos em protegê-las.</p>
                        </div>
                        </div>
                   </div>

                       <a href="{% url 'validar_contato' %}">
                            <button type="submit" class="send">
                                <div class="svg-wrapper-1">
                                    <div class="svg-wrapper">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                            <path fill="none" d="M0 0h24v24H0z"></path>
                                            <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c-.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
                                        </svg>
                                    </div>
                                </div>
                                <span>Enviar</span>
                            </button>
                           </a>
                        </form>
                </div>

        <div class="popupObrigada" id="popupObg" style="display: none;">
        <img src="{% static 'img/LogoRed.png' %}" class="login2">
        <p>Obrigado por enviar suas preferências de cursos. Recebemos suas informações com sucesso. Fique à vontade
            para voltar sempre que precisar de mais informações ou tiver novas dúvidas!</p>
        <h5>A SkillHub te agradece</h5>
        <a href="{% url 'home' %}" id="btnLink">
            <button class="backBtn">Voltar</button>
        </a>
            <!-- Adicione um fundo cinza (overlay) para o popup -->
        <div id="fundoCinza" style="display:none; background: rgba(0, 0, 0, 0.7); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999;"></div>

    </div>

        {% if popUp %}
            <script>
                window.onload = function() {
                    popupForm('popupObg');
                    gerarBarraDeProgresso(6);
                };
            </script>
        {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Define o display do popupErro como "flex" ao carregar a página
            const popupErro = document.getElementById("popupErro");
            popupErro.style.display = "flex";
    
            // Função para fechar o popupErro
            function fecharPopupErro() {
                popupErro.style.display = "none";
            }
    
            // Adiciona um evento de clique ao botão de fechar
            const fecharDivErro = document.querySelector(".fecharDivErro");
            fecharDivErro.addEventListener("click", fecharPopupErro);
        });
    </script>
    <script>
        document.getElementById('telefone').addEventListener('input', function (e) {
            let input = e.target.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
            if (input.length > 11) input = input.slice(0, 11); // Limita a quantidade máxima de caracteres numéricos
    
            // Formata o número de telefone
            if (input.length > 10) {
                input = `(${input.slice(0, 2)}) ${input.slice(2, 7)}-${input.slice(7)}`;
            } else if (input.length > 6) {
                input = `(${input.slice(0, 2)}) ${input.slice(2, 6)}-${input.slice(6)}`;
            } else if (input.length > 2) {
                input = `(${input.slice(0, 2)}) ${input.slice(2)}`;
            } else if (input.length > 0) {
                input = `(${input}`;
            }
    
            e.target.value = input; // Atualiza o valor formatado no input
        });
    </script>
     <script src="{% static 'js/main.js'  %}"></script>
{% endblock %}