{% extends 'base.html' %}

{% block title %}{% endblock %}

{% load static  %}

{% block content %}
     <a href="{% url 'formulario' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="seta" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>
        <div class="privacidade">
            <div class="caixa_termos">
                <h1>Política de Privacidade</h1>
                
                <p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos, armazenamos e divulgamos suas informações pessoais ao acessar e usar nosso site [nome do site].</p>
                
                <h2>1. Informações que Coletamos</h2>
                <p>Coletamos diferentes tipos de informações em várias situações:</p>
                <ul>
                    <li><strong>Informações Pessoais:</strong> Coletamos informações que você nos fornece diretamente, como seu nome, e-mail, número de telefone e outras informações de contato ao criar uma conta, preencher formulários ou entrar em contato conosco.</li>
                    <li><strong>Informações Automáticas:</strong> Ao visitar nosso site, coletamos automaticamente informações sobre seu dispositivo e comportamento de navegação, incluindo:
                        <ul>
                            <li>Endereço IP</li>
                            <li>Tipo de navegador</li>
                            <li>Sistema operacional</li>
                            <li>Páginas visitadas</li>
                            <li>Tempo gasto em cada página</li>
                            <li>Referência de site</li>
                        </ul>
                    </li>
                    <li><strong>Cookies e Tecnologias Semelhantes:</strong> Utilizamos cookies e tecnologias de rastreamento para melhorar sua experiência no site.</li>
                </ul>
            
                <h2>2. Como Usamos suas Informações</h2>
                <p>As informações coletadas podem ser usadas para os seguintes fins:</p>
                <ul>
                    <li><strong>Fornecer Serviços:</strong> Para processar suas solicitações e responder a consultas.</li>
                    <li><strong>Melhorar nosso Site:</strong> Para entender como os usuários interagem com nosso site.</li>
                    <li><strong>Comunicações:</strong> Para enviar e-mails informativos e newsletters.</li>
                    <li><strong>Marketing:</strong> Para enviar materiais promocionais relevantes.</li>
                </ul>
            
                <h2>3. Compartilhamento de Informações</h2>
                <p>Não vendemos, trocamos ou alugamos suas informações pessoais a terceiros. No entanto, podemos compartilhar suas informações com:</p>
                <ul>
                    <li><strong>Público:</strong> Terceiros que nos auxiliam na operação do nosso site.</li>
                    <li><strong>Requisitos Legais:</strong> Para cumprir a lei, regulamentações e solicitações governamentais.</li>
                </ul>
            
                <h2>4. Segurança das Informações</h2>
                <p>Implementamos medidas de segurança adequadas para proteger suas informações pessoais. No entanto, nenhuma transmissão de dados pela Internet ou método de armazenamento eletrônico é 100% seguro.</p>
                <h2>5. Seus Direitos</h2>
                <p>Você tem o direito de:</p>
                <ul>
                    <li><strong>Acessar:</strong> Solicitar uma cópia das suas informações pessoais.</li>
                    <li><strong>Corrigir:</strong> Pedir a correção de informações pessoais imprecisas.</li>
                    <li><strong>Excluir:</strong> Solicitar a exclusão de suas informações pessoais.</li>
                    <li><strong>Opor-se:</strong> Opor-se ao processamento de suas informações pessoais para fins de marketing.</li>
                </ul>
            
                <h2>6. Cookies e Tecnologias de Rastreio</h2>
                <p>Utilizamos cookies e tecnologias semelhantes para rastrear a atividade em nosso site e armazenar certas informações. Você pode gerenciar suas preferências de cookies através das configurações do seu navegador.</p>
            
                <h2>7. Links para Sites de Terceiros</h2>
                <p>Nosso site pode conter links para sites de terceiros. Não somos responsáveis pelas práticas de privacidade desses sites.</p>
            
                <h2>8. Alterações nesta Política</h2>
                <p>Podemos atualizar esta Política de Privacidade periodicamente. Quaisquer alterações serão publicadas nesta página.</p>
            
                <h2>9. Contato</h2>
                <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade, entre em contato conosco:</p>
                <ul>
                    <li><strong>E-mail:</strong> saojosedoriopreto@sp.senai.br</li>
                    <li><strong>Telefone:</strong>(11) 3322-0050</li>
                    <li><strong>Endereço:</strong>R. Antônio de Godoy, 5405 - Vila Sao Jose, São José do Rio Preto - SP, 15090-250</li>
                </ul>
                
                <p>Agradecemos por confiar em nós com suas informações pessoais e estamos comprometidos em protegê-las.</p>
            </div>
        </div>
    
{% endblock %}